@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2');
  }

body {
    margin: 0;
    font-family: "Roboto" !important;
}

h1 {
    position: relative;
}

.background {
    position: fixed;
    background-image: -webkit-linear-gradient(-45deg, #FB4141 49%, #181616 49%, #181616 51%, #FFFFFF 51%);
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 1rem !important;
    margin-bottom: 100px;
}

.header-card {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
}

.card-title {
    font-weight: bold;
}

#pokemon-id {
    font-size: 24px;
}

.pokemon-image {
    filter: drop-shadow(8px 4px 6px black);
    position: relative;
    left: 27px;
    bottom: 10px;
}

.card {
    border-radius: 10% !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.05);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.card:hover .pokemon-image {
    transform: translateX(2%) scale(1.05);
    filter: drop-shadow(20px 4px 6px black);
}

.image-size {
    width: 80%;
}

.pokeball-bg {
    position: absolute;
    width: 80%;
    height: 100%;
    opacity: 20%;
}

.mb-3 {
    margin-bottom: 0px !important;
}

.species {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.species-bubble {
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.species1 {
    background-color: #FF6347; /* Coral */
}

.species2 {
    background-color: #87CEEB; /* Sky Blue */
}

.species-direction {
    display: flex;
}