@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

body {
    margin: 0;
}

h1 {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

h2 {
    text-decoration: underline;
}

.h2-back{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.h2-name {
    font-size: 24px;
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    width: 240px !important;
    flex: none !important;
}

.search-pokemon {
    background: url(img/3.svg) no-repeat 3px;
    background-color: white;
    background-size: 20px;
    height: 24px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 16px;
    border: 2px solid rgb(241, 91, 108);
    border-radius: 20px;
    transition: all 225ms linear;
}

.background {
    position: fixed;
    background-image: -webkit-linear-gradient(-45deg, #FB4141 49%, #181616 49%, #181616 51%, #FFFFFF 51%);
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 1rem !important;
    margin-bottom: 100px;
}

.header-card {
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
}

.card-title {
    font-weight: bold;
    font-size: 24px;
}

#pokemon-id {
    font-size: 22px;
}

.pokemon-image {
    filter: drop-shadow(8px 4px 6px black);
    position: relative;
}

.card {
    border-radius: 6% !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    width: 16rem;
    height: 22rem;
}

.card.active-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg) scale(1.5);
    z-index: 1000;
    width: 18rem;
    height: 27rem;
    border-radius: 15px !important;
    cursor: default;
}

.pokemon-type {
    border-radius: 10px;
    color: black;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
}

.card__face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card__front {
    background-color: transparent;
}

.card__back {
    background-color: transparent;
    transform: rotateY(180deg);
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

.card__front:hover {
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.card:hover .pokemon-image {
    transform: translateX(2%) scale(1.05);
    filter: drop-shadow(20px 4px 6px black);
}

.pokeball-bg1{
    position: absolute;
    opacity: 20%;
    height: 45%;
}

.pokeball-bg {
    position: absolute;
    opacity: 20%;
}

.mb-3 {
    margin-bottom: 0px !important;
}

.species {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.species-bubble {
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.species1 {
    background-color: #FF6347;
    /* Coral */
}

.species2 {
    background-color: #87CEEB;
    /* Sky Blue */
}

.species-direction {
    display: flex;
}

.load-more {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 64px;
}

.image-back {
    width: 50%;
    margin-top: -45px;
    position: relative;
    z-index: 300;
    top: 30px;
    left: 40%;
    filter: drop-shadow(8px 4px 6px black);
}

.types-back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 25%;
    font-size: 14px;
    gap: 10px;
    top: 60px;
    left: 5px;
}

.second-area {
    background-color: white;
    width: 100%;
    height: 66%;
    position: relative;
    border-top-left-radius: 41px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 41px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

/* Filter */
.type-filter {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.type-filter button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.type-filter button:hover {
    background-color: #0056b3;
}

.type-options {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    width: 120px;
    z-index: 100;
    top: 40px;
    left: 0;
}

.type-options label {
    display: block;
    margin: 5px;
    cursor: pointer;
}

.type-options input[type="checkbox"] {
    margin-right: 10px;
}

.type-options label:hover {
    background-color: #f8f9fa;
}

.navigation-arrows {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    top: 80px;
    position: relative;
}

.arrow-button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.arrow-button:hover {
    background-color: #e0e0e0;
}

.close-button {
    position: relative;
    top: 4px;
    cursor: pointer;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    z-index: 1002; /* Sicherstellen, dass es über anderen Inhalten liegt */
}

.close-button:hover {
    transform: scale(1.2);
}

.close-button::before, .close-button::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 50%;
    background-color: currentColor;
}

.close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.tab-content {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 24px;
}

.tab-content1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 50px;
    font-size: 14px;
}

.tab {
    font-weight: bolder;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}

.tab:hover {
    background-color: lightgrey;
    text-decoration: underline;
    text-underline-position: under;
}

.aboutPokemon td {
    padding: 10px;
}
@media only screen and (max-width: 500px) {
    .card.active-overlay {
        width: 14rem;
        height: 21rem;
    }

    h2 {
        font-size: 20px;
    }

    .h2-back {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }

    .types-back {
        font-size: 12px;
        top: 45px;
        gap: 7px;
    }

    .second-area {
        height: 74%;
    }

    .navigation-arrows {
        top: 195px;
    }

    .arrow-button {
        /* font-size: 14px; */
    }

    .close-button {
        width: 20px;
        height: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .card.active-overlay {
        width: 12rem;
        height: 17rem;
    }

    h2 {
        font-size:18px;
    }

    .h2-back {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
    }

    .types-back {
        font-size: 12px;
        top: 35px;
        right: 12px;
        gap: 4px;
    }

    .second-area {
        height: 75%;
    }

    .navigation-arrows {
        /* top: 155px; */
    }

    .arrow-button {
        font-size: 12px;
    }

    .close-button {
        width: 17px;
        height: 15px;
    }
}